{% extends 'base.html' %}
{% block content %}
<div class="row">

</div>
{% endblock content %}

{% block scripts %}
<!-- <script>
    const data = '{{query_json}}';
    const rdata = JSON.parse(data.replace(/&quot;/g, '"'));
    const input = document.getElementById('search_here');
    const box = document.getElementById('tablebox');
    let filteredArr = []
    input.addEventListener("input", (e) => {
        box.innerHTML = "";
        filteredArr = rdata.filter(info => info['full_name'].toLowerCase().includes(e.target.value.toLowerCase()));
        if (filteredArr.length > 0) {
            filteredArr.map(item => {
                if (item['type'] === 'org') {

                    box.innerHTML += `
                    <tr>
                        <th scope="row">${item.full_name}</th>
                        <td>${item.user_id}</td>
                        <td>${item.contact}</td>
                        <td>${item.address}</td>
                        <td><a class="btn btn-danger btn-sm" href="http://127.0.0.1:8000/organization/appointment/${item.user_id}">Take Appointment</a></td>
                    </tr>`;
                }
            })
        } else {
            box.innerHTML = `<tr>
                    <td>
                        No Organizations to show :(
                    </td>
                </tr>`;
        }
    })
</script> -->

{% endblock scripts %}