{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock style %}
{% block title %}Login |{% endblock title %}
{% block page %}
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"> <a href="{% url 'login' %}">Sign In</a> </h2>
        <h2 class="inactive underlineHover"><a href="{% url 'signup' %}">Sign Up</a></h2>
        <form class="login-form" method="post">
            {% csrf_token %}
            <div class="error">
                {{ form.username.errors }}
            </div>
            {{ form.username }}
            <div class="error">
                {{ form.password.errors }}
            </div>
            {{ form.password }}
            <div class="error">
                {{ form.non_field_errors }}
            </div>
            <input type="submit" class="fadeIn fourth" value="Sign In">
        </form>
        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="{% url 'password_reset' %}">Forgot Password?</a>
        </div>
    </div>
</div>

{% endblock page %}
{% block scripts %}
<script>
    document.getElementById("id_username").setAttribute("placeholder", "Username");
    document.getElementById("id_password").setAttribute("placeholder", "Password");
</script>
{% endblock scripts %}