{% extends "base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock style %}

{% block content %}
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"><a href="{% url 'signup' %}">Reset Password</a></h2>
        {% if validlink %}
        <form class="login-form" method="post">
            {% csrf_token %}
            <div class="error">
                {{ form.non_field_errors }}
            </div>
            <!-- Password -->
            <div class="error">
                {{ form.new_password1.errors }}
            </div>
            {{ form.new_password1 }}

            <!-- Password -->
            <div class="error">
                {{ form.new_password2.errors }}
            </div>
            {{ form.new_password2 }}
            <input type="submit" class="fadeIn fourth" value="Change Password">
        </form>
        <div id="formFooter">
            <a class="underlineHover" href="{% url 'login' %}">Sign In</a>
        </div>
        {% else %}
        <p>
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
        </p>
    </div>
</div>
{% endif %}
{% endblock content %}

{% block scripts %}
<script>
    document.getElementById("id_new_password1").setAttribute("placeholder", "New Password");
    document.getElementById("id_new_password2").setAttribute("placeholder", "New Password Confirmation");
</script>
{% endblock scripts %}