{% extends "base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock style %}
{% block content %}
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"><a href="{% url 'signup' %}">Reset Password</a></h2>
        <form class="login-form" method="post">
            {% csrf_token %}
            <div class="error">
                {{ form.non_field_errors }}
            </div>
            <!-- Email -->
            <div class="error">
                {{ form.email.errors }}
            </div>
            {{ form.email }} <br>
            <input type="submit" class="fadeIn fourth" value="Submit">
        </form>
        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="{% url 'login' %}">Sign In</a>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script>
    document.getElementById("id_email").setAttribute("placeholder", "Email Address");
</script>
{% endblock scripts %}