{% extends "base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock style %}
{% block title %}Sign Up |{% endblock title %}
{% block page %}
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="inactive underlineHover"> <a href="{% url 'login' %}">Sign In</a> </h2>
        <h2 class="active"><a href="{% url 'signup' %}">Sign Up</a></h2>
        <form class="login-form" method="post">
            {% csrf_token %}
            <div class="error">
                {{ form.non_field_errors }}
            </div>
            <!-- Username -->
            <div class="error">
                {{ form.username.errors }}
            </div>
            {{ form.username }} <br>
            <!-- Email -->
            <div class="error">
                {{ form.email.errors }}
            </div>
            {{ form.email }} <br>

            <!-- Password 1 -->
            <div class="error">
                {{ form.password1.errors }}
            </div>
            {{ form.password1 }} <br>

            <!-- Password 2 -->
            <div class="error">
                {{ form.password2.errors }}
            </div>
            {{ form.password2 }} <br>
            <input type="submit" class="fadeIn fourth" value="Sign Up">
        </form>
        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="{% url 'login' %}">Already have an account ?</a>
        </div>
    </div>
</div>
{% endblock page %}
{% block scripts %}
<script>
    document.getElementById("id_username").setAttribute("placeholder", "Username");
    document.getElementById("id_email").setAttribute("placeholder", "Email Address");
    document.getElementById("id_password1").setAttribute("placeholder", "Password");
    document.getElementById("id_password2").setAttribute("placeholder", "Password Confirmation");
</script>
{% endblock scripts %}