{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-section col-md-8 col-md-offset-2">
    <form method="POST" style="border: 1px solid black; margin: 4%; padding:10%; border-radius:1%;">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy}}
        </fieldset>
        <div class="mt-5">
            <input type="submit" class="btn btn-success" value="Sign Up">
            <a class="btn btn-danger text-white" href="{% url 'login' %}">Already have an account ?</a>
        </div>
    </form>
</div>
{% endblock content %}