{% extends 'base.html' %}
{% block content %}
<div class="dashboard">
    <div class="container">
        <div class="row">
            {% if profile %}
            <h1>Welcome to Dashboard!</h1>
            {% else %}
            <div class="col-sm-5 offset-1">
                <h4 class="text-center alert alert-info">Organization</h4>
                <a class="btn btn-success" href="{% url 'create_profile' 'org' %}">Create Profile</a>
            </div>
            <div class="col-sm-5">
                <h4 class="text-center alert alert-info">User</h4>
                <a class="btn btn-success" href="{% url 'create_profile' 'user' %}">Create Profile</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}