{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/index.css' %}"> {% endblock style %}
{% block content %}
<div class="home">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="front-banner">
                    <div class="title">
                        <h1>Helping people save time</h1>
                        <p>Millions of Customers and companies come together to make this time consuming process easier
                        </p>
                        <form action="{% url 'signup' %}" class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Email Address"
                                aria-label="Search">
                            <button class="btn btn-light d-inline" type="submit">SignUp</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 front-banner-img">
                <img src="{% static 'images/banner2.png' %}" alt="banner">
            </div>
        </div>
    </div>
</div>
{% endblock content %}